.checkout__ad{
    max-width: 600px; 
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    margin-left: 0px;
   
    
}
.checkout__left_shopping{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    background-color: white;
    height: max-content;
}