*{
    margin: 0;
    padding: 0;
}
.header{
    height: 60px;
    display: flex;
   
    width: 100%;
   
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;


}
.header_span{
  display: flex;
  flex: 1;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;


}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 11px;
    padding: 10px;
    border: none;
    width: 90%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:  white;
}
.header__optionLineOne{
    font-size: 13px;
}
.header__optionLineTwo{
    font-size: 16px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__basketCount{
 margin: 0 10px 0 10px;
}
.link{
      color: white
}
.no_uderline{
    text-decoration: none;
}
.pointer{
    cursor: pointer;

}


/* Add the following code at the end of the existing CSS file */

/* Make the header responsive */
@media (max-width: 768px) {

.header__search{
  margin-right: 20px;
  

}
.header__searchInput{
  width: 100%;
  border-radius: 15px;
  margin-right: -34px;
 
}
.header_searchIcon{
  border-radius: 15px;
}
.header{
  height: 100px;
  display: block;
}
  
}

